In [76]:
import pandas as pd

In [77]:
df = pd.read_csv("LaxiconWords.csv")
df

          Words  Page Number
0  Ramification          653
1        Rancor          653
2     Rapacious          653
3        Rebuke          653
4         Rebut          653
5  Recalcitrant          654
6        Recant          654
7    Reciprocal          654
8     Reculsive          654

In [98]:
df.sample()

    Words  Page Number
6  Recant          654

## Add New Word

In [75]:
import pandas as pd

In [71]:
NewWord = input('Please Enter New Word: ')
PgNo = int(input('Please Enter Page Number: '))

data = {
    'Words': [NewWord],
    'Page Number': [PgNo]
}


edited_df = pd.DataFrame(data)
edited_df.to_csv('LaxiconWords.csv', mode='a', index=False, header=False)

Please Enter New Word: Reculsive
Please Enter Page Number: 654

In [74]:
df = pd.read_csv("LaxiconWords.csv")
df

          Words  Page Number
0  Ramification          653
1        Rancor          653
2     Rapacious          653
3        Rebuke          653
4         Rebut          653
5  Recalcitrant          654
6        Recant          654
7    Reciprocal          654
8     Reculsive          654